@font-face {
    font-family: Poppins;
    src: url("../src/assets/font/Poppins-Regular.ttf");
}

@import "tailwindcss";


@theme{
    --font-poppins: Poppins, "san-serif";
}
/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.marquee {
  animation: marquee 25s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
